body {
    background-color: white;
}
table, tr, td {
    border: 1px solid black;
    column-width: 100px;
    height: 100px;
    
}

h1 {
    float: right;
}

#logger {
    float: right;
}
#log {
    
    padding-top: 50px;
    text-align: right;
}

#end {
    text-align: center;
    font-size: 45px;
    position: relative;
        
}